*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 700px;
    background: #262626;
    color:#F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
    border-radius: 15px;
}
.container__calculator{
    padding-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    font-size: 1.1em;
}
.container__div {
    display: grid;
    grid-template-columns: 180px 80px 50px;
    column-gap: 20px;
    padding-top: 10px;
}
.container__div input{
    width: 80px;
}
.div__span{
    text-align: left;
}
#speed{
    width: 80px;
}
#km{
    margin-right: 10px;
}
#calculate{
    width:135px;
    font-size: 1.4em;
    border-radius: 10px;
    border: 1px solid #F25C05;
    background: #F25C05;
    margin-bottom: 30px;
}
#input__km,#input__mm,#input__m{
    color:#8C3908;
    font-size: 1.2em;
    background: white;
    text-align: center;
}